body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg,#0f0f14,#1b1b26);
    color: #ffffff;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #ff4d88;
}

select, button, textarea {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
}

select {
    background: #222;
    color: white;
}

textarea {
    height: 220px;
    background: #14141c;
    color: white;
    resize: none;
}

button {
    background: #ff4d88;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ff1f6b;
}
